@model BlogAPIModels.Post

<section class="vh-100 mt-5" style="background-color: #fff;">
  <div class="container h-50 w-50">
    <div class="row d-flex justify-content-center align-items-center h-50">
      <div class="col-lg-10 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4">Edit Post</p>
                <form class="mx-1 mx-md-4" method="post" action="/posts/@Model.Id/edit">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" asp-for="Title">Title</label>
                      <input type="text" id="Title" class="form-control" value="@Model.Title" name="Title" required/>
                      <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-2">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" asp-for="Text">Text</label>
                      <textarea type="Text" id="Text" class="form-control" name="Text" required>@Model.Text</textarea>
                      <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                  </div>

                  <div class="form-check mb-3 mx-3">
                    <input class="form-check-input" type="checkbox" value="true" id="IsPublished" name="IsPublished">
                    <label class="form-check-label" for="IsPublished">
                        Publish
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-2 mb-2 mb-lg-3">
                    <button type="submit" class="btn btn-primary btn-md">Edit Post</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>